@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

/*
Container div
*/
div.container {
    margin: 5em auto;
    /* padding: 2em; */
    overflow: hidden;
    /* border: 1px solid black; */
    min-width: 900px;
    max-width: 1091px;
    max-height: auto;
}

/*
Styles for form fields
*/
div.container label,
div.container input,
div.container button {
    display: block;
    width: 100%;
    font-size: 1em;
    margin-bottom: 1em;
    /* Add some bottom margin for spacing */
}

div.container button {
    padding: 1em;
    margin-top: 2em;
    /* Adjust top margin */
}

/*
Tab styles
*/
.tab {
    margin: 1em auto 0 auto;
    /* Adjust top margin */
    display: flex;
    width: 100%;
    margin-bottom: 2px;
}

.tablinks {
    padding: 1em 0;
    flex: 1;
    /* Equal width for tab links */
    text-align: center;
    cursor: pointer;
    border: 0.4px solid black;
    transition: all 0.2s linear;
    border-radius: 10px;
}

.tablinks.active {
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
}

.active {
    /* background-color: black; */
    color: rgb(0, 0, 0);
}

.tabcontent {
    width: 100%;
    margin: 0 auto 2em auto;
    /* Adjust bottom margin */
    padding: 2em 0;
    overflow: hidden;
    display: none;
    min-height: 500px;
    max-height: 500px;
}

.tabcontent.active {
    display: block;

    color: black;
}

.hit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    color: #000000;
}


@media only screen and (min-width: 1224px) {
    div.container {
        overflow: hidden;
    }
}

@media only screen and (min-width: 1824px) {
    div.container {
        width: auto;
        /* Adjust width for larger screens */
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    div.container {
        width: 80%;
    }
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.gradient-background {
    display: flex;
    background: linear-gradient(300deg, #E4F1FF, #AED2FF, #9400FF);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.center-container {
    margin-left: 150px;
}

.card {
    max-width: 600px;
    min-width: 600px;
    padding: 20px;
    max-height: 734px;
    min-height: 734px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
    transition: backdrop-filter 0.3s ease, box-shadow 0.3s ease;
}

.complete-card {
    padding: 2px;
}