<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/login.css">
</head>

<body>
    <section class="h-100 h-custom gradient-background">
        <div class="container align-items-center">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login or Registration</h3>

                            <!-- Tab Controls -->
                            <div class="tab">
                                <div class="tablinks active" id="logintab" onclick="openForm('login')">Login</div>
                                <div class="tablinks " id="signuptab" onclick="openForm('signup')"
                                    style="margin-left: 10px;">Register</div>
                            </div>

                            <!-- Login Form -->
                            <div class="tabcontent active" id="login">
                                <form class="px-md-2" method="post" action="/login">
                                    <label for="email" class="form-label">Email<span
                                            style="color: red;">*</span></label>
                                    <div class="form-outline">
                                        <input type="text" class="form-control" id="email" name="email" required="">
                                    </div>
                                    <label for="prn" class="form-label">Password(PRN)<span
                                            style="color: red;">*</span></label>
                                    <div class="form-outline datepicker">
                                        <input type="password" class="form-control" id="prn" name="prn" required="">
                                    </div>
                                    <button type="submit" class="btn btn-outline-dark btn-lg">Login</button>
                                </form>
                            </div>

                            <!-- Registration Form -->
                            <div class="tabcontent" id="signup">
                                <form class="px-md-2" method="post" action="/register">
                                    <label for="prn" class="form-label">PRN<span style="color: red;">*</span></label>
                                    <div class="form-outline datepicker">
                                        <input type="text" class="form-control" id="prn" name="prn" required="">
                                    </div>

                                    <label class="form-label" for="name">Name<span style="color: red;">*</span></label>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="name" name="student_name" class="form-control"
                                            required="">
                                    </div>

                                    <label for="year">Select Year<span style="color: red;">*</span></label>
                                    <select id="year" name="year" class="form-select" required="">
                                        <option value="1">First Year</option>
                                        <option value="2">Second Year</option>
                                        <option value="3">Third Year</option>
                                        <option value="4">Final Year</option>
                                    </select>

                                    <label class="form-label" for="email">Email<span
                                            style="color: red;">*</span></label>
                                    <div class="form-outline">
                                        <input type="text" id="email" name="email" class="form-control" required="">
                                    </div>

                                    <button type="submit" class="btn btn-outline-dark btn-lg">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function openForm(formId) {
            var tabcontent = document.querySelectorAll(".tabcontent");
            for (var i = 0; i < tabcontent.length; i++) {
                tabcontent[i].classList.remove("active");
            }
            document.getElementById(formId).classList.add("active");

            var tablinks = document.querySelectorAll(".tablinks");
            for (var i = 0; i < tablinks.length; i++) {
                tablinks[i].classList.remove("active");
            }

            var activeTabLink = document.getElementById(formId + "tab");
            activeTabLink.classList.add("active");

            // Change the button colors based on the active tab
            var loginButton = document.getElementById("logintab");
            var signupButton = document.getElementById("signuptab");

            if (formId === "login") {
                loginButton.classList.add("active");
                signupButton.classList.remove("active");
            } else if (formId === "signup") {
                loginButton.classList.remove("active");
                signupButton.classList.add("active");
            }
        }
    </script>

</body>

</html>